<!DOCTYPE html>
{% extends "pages/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block title %} Contact Us {% endblock title %}

{% block content %}
<h1>Contact Us</h1>
{% if submitted %}
<p class="success">Your message was submitted successfully. Thank
you.
</p>
{% else %}
  <form class="" action="" method="post">
    <table>
      {{ form.as_table}}
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" name="" value="Submit"></td>
      </tr>
    </table>
    {% csrf_token %}
  </form>
  {% endif %}
{% endblock content %}
